:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.page-header {
    display: flex;
    border-radius: 8px;
    height: auto;
    padding: 20px;
}

.page-header .page-title {
    flex: 1;
    color: white;
}

.page-header .search-area {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-area .search-title {
    color: white;
    margin: 0;
    padding: 0;
}

.page-content {
    padding: 48px;
}

.page-title {
    color: white;
}

.search-input {
    max-width: 200px;
}

.select-input {
    width: 200px;
}

.pagination-container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}